input[type="checkbox"] {
  width: 25px;
  height: 25px;
}

.garis {
  border-top-width: 8px;
  border-top-color: #f3f4f5;
}

.product-img {
  height: 75px;
  width: 75px;
}

#note {
  width: 15rem;
  box-sizing: border-box;
}

#note::placeholder {
  font-size: 14px;
}
